# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Buildozer
.bin/
.buildozer/
*.apk
*.aab

# Git
.git/
.gitignore

# Docker
Dockerfile
.dockerignore

# Outros
*.log
*.tmp
*.bak
*.backup
*.orig
*.rej
*.DS_Store 