[Unit]
Description=QuestoesPMP Gunicorn Service
After=network.target

[Service]
User=gabriel_cg_cabral
Group=www-data
WorkingDirectory=/home/gabriel_cg_cabral/questoespmp
Environment="PATH=/home/gabriel_cg_cabral/questoespmp/venv/bin"
Environment="PYTHONPATH=/home/gabriel_cg_cabral/questoespmp:/home/gabriel_cg_cabral/questoespmp/app"
ExecStart=/home/gabriel_cg_cabral/questoespmp/venv/bin/gunicorn --config gunicorn.conf.py wsgi:app

[Install]
WantedBy=multi-user.target 