{% extends "base.html" %}

{% block title %}Documentação - Questões PMP{% endblock %}

{% block header_title %}Documentação{% endblock %}

{% block content %}
<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <div class="mdc-card">
        <div class="mdc-card__primary">
          <h2 class="mdc-typography--headline5">Áreas de Conhecimento</h2>
        </div>
        <div class="mdc-card__content">
          <div class="mdc-list">
            <div class="mdc-list-item">
              <span class="mdc-list-item__text">
                <span class="mdc-list-item__primary-text">Gerenciamento de Integração</span>
                <span class="mdc-list-item__secondary-text">Processos e atividades que identificam, definem, combinam, unificam e coordenam os vários processos e atividades de gerenciamento de projetos.</span>
              </span>
            </div>
            <div class="mdc-list-item">
              <span class="mdc-list-item__text">
                <span class="mdc-list-item__primary-text">Gerenciamento de Escopo</span>
                <span class="mdc-list-item__secondary-text">Processos necessários para garantir que o projeto inclua todo o trabalho necessário, e apenas o trabalho necessário, para completar o projeto com sucesso.</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <div class="mdc-card">
        <div class="mdc-card__primary">
          <h2 class="mdc-typography--headline5">Grupos de Processos</h2>
        </div>
        <div class="mdc-card__content">
          <div class="mdc-list">
            <div class="mdc-list-item">
              <span class="mdc-list-item__text">
                <span class="mdc-list-item__primary-text">Iniciação</span>
                <span class="mdc-list-item__secondary-text">Processos realizados para definir um novo projeto ou uma nova fase de um projeto existente.</span>
              </span>
            </div>
            <div class="mdc-list-item">
              <span class="mdc-list-item__text">
                <span class="mdc-list-item__primary-text">Planejamento</span>
                <span class="mdc-list-item__secondary-text">Processos necessários para estabelecer o escopo do projeto, refinar os objetivos e definir o curso de ação necessário para atingir os objetivos.</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} 